<h1>Edit Articles</h1>
<%= form_for @article, html:{class:'form-horizontal'} do |f| %>
<fieldset>
  <table>
    <tr>
      <td colspan='2'><%= f.file_field :photo %></td>
    </tr>
    <tr>
      <td><%= f.label :title, class:'col-lg-1 control-label' %></td>
      <div class="col-lg-3">
        <td><%= f.text_field :title, class:'form-control' %></td>
      </div>
    </tr>
    <tr>
      <td><%= f.label :content %></td>
      <td><%= f.text_area :content, cols: 40, rows: 15, class:"form-control" %></td>
    </tr>
    <tr>
      <td colspan='2'><%= f.submit :submit,class:"btn btn-primary" %></td>
    </tr>
  </table>
</fieldset>
<% end %>

<div>
<%= link_to "back to index", articles_path %>
</div>
